@media screen and (min-width: 600px) {

html {
  padding-left: 20px;
  padding-right: 20px;
}
.content {
  padding: 30px;

}
}
@media screen and (max-width: 600px) {
  .content {
    padding: 10px;
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh; 
  background-image: url("../assets/background.png");
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center;
  background-attachment: fixed;
}

  /* -------------------------- */

.container {
  max-width: 75em;
  position: relative;
  margin: 0 auto ;
  background-color: rgb(44, 44, 44);
  border: 2px solid rgb(255, 255, 255);
  border-radius: 20px;
}

.content {
  color: rgb(216, 216, 216);

}

  /* -------------------------- */

code {
  color: white; 
  font-size: larger; 
  background-color: black;
}

details {
  border-color: #a7a7a7;
  border-radius: 10px;
  border-style:groove; 
  padding: 10px;
  margin: 10px;

}

img {
  max-width: 100%;
  height: auto;
}


a {
  color: aliceblue;
}

table, th, td {
  padding: 10px;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 5px;
  border-collapse: collapse;
}
  /* -------------------------- */

p.border {
  padding: 10px;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 5px;
  display: inline-block;
  margin: 20px;
}

.center {
  text-align: center;
}

  /* -------------------------- */
 
.nav {
  overflow: hidden;
  background-color: #3a3a3a;
  margin: 0;
  }
   
.nav a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    min-width: 100px;
    float: left;
  }
  .nav a.active {
    color: black;
  }

  .nav a.active:hover {
    color: rgb(255, 255, 255);
    background-color: #149c4d;

  }

  .nav a:hover {
    background-color: #333232;
  }

.active  {
    background-color: #1bd96a;

  }

  @media screen and (max-width: 952px) {
    .nav {transition: 0.2s;}
    .nav a:not(.active) {display: none;}
    .nav a.coll {
      float: right;
      display: block;
    }
  }

  @media screen and (max-width: 952px) {
    .nav.responsive {position: fixed;}
    .nav.responsive .coll {
      right: 0;
      top: 0;
      float:inline-end;
    }
    .nav.responsive a {
      float: none;
      display: block;
    }
    .nav.responsive a:not(.coll) {

      text-align: left;
    }
    .nav{
      position: fixed;
      bottom: 0;
      width: 100%;
      left: 0;
    }
  }

  .nav .coll {
    display: none;
    min-width: 10px;

  }

