body {
  font-family: Arial, Helvetica, sans-serif;
  background : white;
}

.big {
  font-size: 20em;
  padding: 10px;
}

.main {
  padding-left: 100px;
}

@media (prefers-color-scheme: dark) {
  body {
    color: #eee;
    background: #121212;
  }
