body {
  font-family: Arial, Helvetica, sans-serif;
  background : white;
}

.big {
  font-weight: bold;
  font-size:15vw;
}

.content {
  padding: 100px 100px 0px 100px;
}

@media screen and (max-width: 600px) {
  .content {
    padding: 10px 10px 0px 50px;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    color: #eee;
    background: #121212;
  }

}
