@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css";
@import "/css/tazta2ra.css";

.branding-logo{
    margin-right: 5px;
}

.fullheight{
    height: 100%;
}

.containecenter{
    display: flex;
    align-items: center;
}

.showcase:hover{
    box-shadow: 0 4px 10px 0 rgba(124, 124, 124, 0.2), 0 6px 20px 0 rgba(110, 110, 110, 0.19);
}
