@charset "utf-8";

$taztablue: #3967ef;
$white: rgb(255, 255, 255);

@use "bulma/sass" with (
  $family-primary: '"Nunito", sans-serif',
  $primary: $taztablue
);

@import url("https://fonts.googleapis.com/css?family=Nunito:400,700");

.grid .box:last-child{
  margin-bottom: var(--bulma-block-spacing);
  }