---

title: "Blue Lotus: Beyond"

tabs:
  first:
    link: " "
    class: "is-active"

showcase:
  featimg: 'https://raw.githubusercontent.com/tazta2ra/bluelotus-beyond/main/assets/logo/title_border.png'
  version: "1.20.1"
  loader: 
    text: "Quilt"
    color: "is-link"
  text: "A massive vanilla+ modpack focused on exploration and adventure while enhancing vanilla gamplay."

tags:
  - modpack
      
---

<section class="section">
<div class="container">

  <div class="has-text-centered">
  <p class="title is-size-1">Features</p>
  <p class="subtitle">Blue Lotus brings many improvements to Minecraft's boring world.</p>
</div>
  <br>
  <div class="tile is-ancestor">
    <div class="tile">
      <div class="tile is-parent is-vertical">

        <article class="tile is-child box has-background-primary">
          <p class="title has-text-centered has-text-white-bis">🎭 Play your way!</p>
          <p class="subtitle has-text-white-bis">Sart your game with different <b>Origins</b> or stick to the classic vanilla gameplay!</p>
        </article>

        <article class="tile is-child box has-background-warning ">
          <p class="title has-text-centered has-text-black-bis">🍃 Enhanced visuals and Immerison</p>
          <p class="subtitle has-text-black-bis">Ambient Sounds, built in shader support with <b>Iris</b>, dynamic lighting, <b>FogLooksGoodNow</b> and some awsome particle improvements thanks to <b>Explosive Enhancement</b> and <b>Falling Leaves</b>.</p>
        </article>

        <article class="tile is-child box has-background-info">
          <p class="title has-text-centered has-text-white-bis">💎 New Materials</p>
          <p class="subtitle has-text-white-bis">Many new, unique and interesting ores added by <b>Mythic Metals</b></p>
        </article>

      </div>
    </div>
    <div class="tile is-parent">

      <article class="tile is-child box has-background-success">
        <p class="title has-text-centered has-text-white-bis">🗺️ Improved world generation</p>
        <p class="subtitle has-text-white-bis">Including better terrain with <b>Tectonic v2</b>, many new biomes added by <b>Regions Unexplored</b> & <b>Nullscape</b>, countless structure mods such as <b> Towns and Towers</b>, <b>Repurposed Structures</b> and <b>Yung's Better Structures</b>.</p>
        <figure class="image is-4by3 is-centered">
          <img src="https://cdn.modrinth.com/data/ElPWwjX0/images/b28d562a2d8ecf14419b3eeaf729b48049d3f261.png" style="height: auto; margin-top: auto; margin-bottom: auto;">
        </figure>
      </article>

    </div>
      <div class="tile">
        <div class="tile is-parent is-vertical">

          <article class="tile is-child box ">
            <p class="title has-text-centered">🤠 Express yourself!</p>
            <p class="subtitle"><b>Fabric Tailor</b>, <b>Ears</b>, <b>Bedspreads</b>, <b>More Armor Trims</b>, <b>Elytra Trims</b> and <b>Emoji Type</b> help you express yourself more than ever!</p>
          </article>

          <article class="tile is-child box has-background-danger">
            <p class="title has-text-centered has-text-white-bis">📈 General QoL improvements</p>
            <p class="subtitle has-text-white-bis">Supplementaries, Universal Enchants, Right Click Harvest, Reacharound, Leaves Be Gone, Better Statistics Screen...</p>
          </article>

        </div>
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
  <div class="has-text-centered">
  <p class="title is-size-1">Made for multiplayer</p>
  <p class="subtitle">Together or alone, with friend or foes!</p>
  <p>Want to play on your server? Follow the installation instructions <a href="#download">here</a>!</p>
  </div>
  <br>
  <div class="tile is-ancestor">
    <div class="tile is-parent is-vertical">

      <article class="tile is-child box">
        <p class="title has-text-centered">⏩ Optimized</p>
        <p class="subtitle">Many optimization mods for a speedy performance</p>
      </article>

      <article class="tile is-child box">
        <p class="title has-text-centered">🔊 Integrated Voice chat</p>
        <p class="subtitle">Proximity voice chat has never been easier with <b>Simple Voice Chat</b>!</p>
      </article>

    </div>

    <div class="tile is-parent is-vertical">
      <article class="tile is-child box">
        <p class="title has-text-centered">🪙 No more loot hoarding!</p>
        <p class="subtitle">Every player has their own loot in chests thanks to <b>myLoot</b>!</p>
      </article>

      <article class="tile is-child box">
        <p class="title has-text-centered">💤 Sleepy time</p>
        <p class="subtitle">Only half of the players need to sleep to pass the night (<a href="https://modrinth.com/datapack/serversleep">Server Sleep</a>)</p>
      </article>  

    </div>

    <div class="tile is-parent is-vertical">

      <article class="tile is-child box">
        <p class="title has-text-centered">👕 Brand new look!</p>
        <p class="subtitle">Server side skin system, custom capes and more! (<a href="https://modrinth.com/mod/fabrictailor">Fabric Tailor</a>)</p>
      </article>

      <article class="tile is-child box">
        <p class="title has-text-centered">🎈 Party time!</p>
        <p class="subtitle">Create parties and claim your chunks</p>
      </article>  

    </div>
  </div>
  </div>
  </section>

  <section class="section">
    <div class="container">
    <p class="title is-size-1 has-text-centered" id="download">How to install?</p>
    <div class="tile is-ancestor">
      <div class="tile is-parent">
        <div class="tile is-child box has-background-success content">
          <p class="title has-text-centered has-text-white-bis">For Players</p>
          <p class="has-text-white-bis">Download the <a href="https://modrinth.com/app">Modrinth App</a> or a launcher that supports modrinth (e.g. <a href="https://prismlauncher.org/">Prism Launcher</a>) then follow the <a href="https://docs.modrinth.com/docs/modpacks/playing_modpacks/#multimc-and-prism-launcher">installation instructions</a> for the launcher of your choice.</p>
          <div class="buttons is-centered"><a href="https://modrinth.com/modpack/bluelotus-beyond" style="margin-top: auto; margin-bottom: auto;" class="button is-light">Modpack page on Modrinth</a></div>
        </div>

      </div>
      <div class="tile is-parent">
        <div class="tile is-child box has-background-warning content ">
        <p class="title has-text-centered has-text-black-bis">For Servers</p>
        <ul class="has-text-black-bis">
          <li>Download the latest version of <a href="https://github.com/nothub/mrpack-install/releases">mrpack-install</a></li>
          <li>Open the command line, navigate to the directory</li>
          <li>Run <code>mrpack-install bluelotus-beyond 1.0.0</code></li>
          <li>Wait for the download to finish</li>
          <li>Navigate into the new "mc" folder</li>
          <li>Now run <code>java -Xmx3G -Xms1G  -jar quilt-server-launch.jar</code></li>
              <ul>Set <code>-Xmx</code> to the amount of RAM you want your server to use. (at least 2.5GB)</ul>
           <li>You're Done!</li>
      </ul>
        </div>
       </div>
      </div>
    </div>
  </section>