@media screen and (min-width: 600px) {

html {
  padding-left: 20px;
  padding-right: 20px;
}

}
body {
  height: 100vh; 
  background-image: url("assets/background.png");
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center;
  background-attachment: fixed;
}

.main {
  max-width: 90em;
  position: relative;
  margin: 0 auto ;
  
}
.container {
  background-color: rgb(44, 44, 44);
  border: 2px solid rgb(255, 255, 255);
  padding-bottom: 100px;
  border-radius: 20px;
}
.content {
  padding: 30px;
  color: rgb(216, 216, 216);

}
@media screen and (max-width: 600px) {
.content {
  padding: 10px;
}
}
  /* -------------------------- */

h1 {
  font-family:sans-serif;
  color: rgb(238, 255, 0);
}

details {
  border-color: #a7a7a7;
  border-radius: 10px;
  border-style:groove; 
  padding: 10px;
  margin: 10px;

}

img {
  width: 100%;
  height: 100%; 
  object-fit: contain;
}

a {
  color: aliceblue;
}

p.border {
  padding: 10px;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 5px;
  display: inline-block;
  margin: 20px;
}

.center {
  text-align: center;
}

table, th, td {
  padding: 10px;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 5px;
  border-collapse: collapse;
}

  /* -------------------------- */
 
.nav {
  overflow: hidden;
  background-color: #3a3a3a;
  margin: 0;

  }
   
.nav a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    min-width: 100px;
    float: left;
  }
  .nav a.active {
    color: black;
  }

  .nav a.active:hover {
    color: rgb(255, 255, 255);
    background-color: #149c4d;

  }

  /* Change the link color to #111 (black) on hover */
  .nav a:hover {
    background-color: #333232;
  }

.active {
    background-color: #1bd96a;

  }

  @media screen and (max-width: 600px) {
    .nav a:not(.active) {display: none;}
    .nav a.coll {
      float: right;
      display: block;
    }
  }

  @media screen and (max-width: 600px) {
    .nav.responsive {position: relative;}
    .nav.responsive .coll {
      
      right: 0;
      top: 0;
    }
    .nav.responsive a {
      float: none;
      display: block;
    }
    .nav.responsive a:not(.coll) {

      text-align: left;
    }
  }

  .nav .coll {
    display: none;
    min-width: 10px;

  }
