---

layout: "layouts/main.njk"
favicon: "/assets/beyond/beyond.ico"

hero:
  class: "hero is-small is-info"

---

<link rel="stylesheet" type="text/css" href="/css/beyond.css"> 
<body>

    <div class="container content">
    {{ content | safe }}
    <br>
    </div>
</body>